body {
    background-image: url("images/Elegant_Background-8.jpg");
    background-repeat: repeat;
    background-position: center top;
    overflow: hidden;
}

#mainWrapper {
    float:left;
    border:0px red solid;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-100;
}

#homeButton {
   margin-left:360px;
   margin-top:545px;   
}
#homeButton img {
    width:100px;
    height:100px;
}

#playHomeButton {
   margin-left:290px;
   margin-top:15px;   
}
#playHomeButton img {
    width:100px;
    height:100px;
}

#ActionBox {
    float:left;
    border: 0px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#AdventureBox {
    float:left;
    border: 0px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#StrategyBox {
    float:left;
    border: 0px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#ShootingBox {
    float:left;
    border: 0px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#SportsBox {
    float:left;
    border: 0px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#playBox {
    position:fixed;
    left: 20%;
    top: 0%;

}

#playBox img {
    position: absolute;
    z-index: -1;
}

#gameScreen {
    margin-top:70px;
    margin-left:70px;
    width:680px;
    height:460px;
    border:0px red solid;    
}

#game {
    width:100%;
    height:100%;
}



#gameBox {
    position:fixed;
    left: 30%;
    top: 0%;
}

#gameBox img {
    position: absolute;
    z-index: -1;
}


.slideshow {
    display:inline;
    z-index:-1;
}

.slideshow img { 
    margin-top:85px;
    margin-left:80px;
    width:425px;
    height:320px;
}


/*****************************************************************************/
/* |------------------------------------------------------|-----------------|*/
/* |                                                      |  Category 1     |*/
/* |        GameBox                                       |                 |*/
/* |                                                      |-----------------|*/
/* |                                                      |  Category 2     |*/
/* |------------------------------------------------------|                 |*/
/* |---------------------------|--------------------------|-----------------|*/
/* |        Category 3         |     Category 4           |   Category 5    |*/
/* |---------------------------|--------------------------|-----------------|*/
/*****************************************************************************/


#categoryName {
    margin-top:70px;
    margin-left:505px;
    width:0px;
    height:0px;
}

.center {
    color:#505739;
    text-align:center;
    font-family:arial;
    font-size:28px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 2px 12px #ffffff;	
    cursor:pointer;
}

#ActionTitle {
    cursor:pointer;
    margin-top:80px;
    margin-left:505px;
    width:230px;
    height:160px;
    position:absolute;
    z-index:2;
}

#AdventureTitle {
    cursor:pointer;
    margin-top:230px;
    margin-left:505px;
    width:230px;
    height:160px;
    position:absolute;
    z-index:2;
}

#StrategyTitle {
    cursor:pointer;
    margin-top:390px;
    margin-left:80px;
    width:220px;
    height:150px;
    position:absolute;
    z-index:2;
}

#ShootingTitle {
    cursor:pointer;
    margin-top:390px;
    margin-left:300px;
    width:205px;
    height:150px;
    position:absolute;
    z-index:2;
}

#SportsTitle {
    cursor:pointer;
    margin-top:390px;
    margin-left:505px;
    width:230px;
    height:150px;
    position:absolute;
    z-index:2;
}

#Action img {
    margin-top:0px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#Adventure img {
    margin-top:230px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#Strategy img {
    margin-top:390px;
    margin-left:80px;
    width:220px;
    height:150px;
}


#Shooting img {
    margin-top:390px;
    margin-left:300px;
    width:205px;
    height:150px;
}

#Sports img {
    margin-top:390px;
    margin-left:505px;
    width:230px;
    height:150px;
}

.hide {
    visibility: hidden;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:hover td{
    background: rgba(100, 100, 100, 0);
    		

}
.CSSTableGenerator td{
	vertical-align:middle;
	background: rgba(100, 100, 100, 0);	
	

	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #0000bf 5%, #0000bf 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #0000bf) );
    background:-moz-linear-gradient( center top, #0000bf 5%, #0000bf 100% );
    background: -o-linear-gradient(top,#0000bf,#0000bf);
    background: rgba(100, 100, 100, 0);
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #0000bf 5%, #0000bf 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #0000bf) );
    background:-moz-linear-gradient( center top, #0000bf 5%, #0000bf 100% );
    background: -o-linear-gradient(top,#0000bf,#0000bf);
	
    background: rgba(100, 100, 100, 0);
    
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.CSSTableGenerator td {
    width:100px;
    height:100px;
}



.myButton1 {
	-moz-box-shadow: 0px 1px 50px 11px #1c1b18;
	-webkit-box-shadow: 0px 1px 50px 11px #1c1b18;
	box-shadow: 0px 1px 50px 11px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:12px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 65px;
	text-decoration:none;
	text-shadow:0px 2px 12px #ffffff;
	margin-top:70px;
	margin-right:0px;
	float:right;
	height:65px;
}

.myButton1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton1:active {
	position:relative;
	top:1px;
}


.myButton2 {
	-moz-box-shadow: 0px 1px 50px 11px #1c1b18;
	-webkit-box-shadow: 0px 1px 50px 11px #1c1b18;
	box-shadow: 0px 1px 50px 11px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:12px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 65px;
	text-decoration:none;
	text-shadow:0px 2px 12px #ffffff;
	margin-top:0px;
	margin-left:505px;
	float:right;
	height:65px;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	-moz-box-shadow: 0px 1px 50px 11px #1c1b18;
	-webkit-box-shadow: 0px 1px 50px 11px #1c1b18;
	box-shadow: 0px 1px 50px 11px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:12px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 65px;
	text-decoration:none;
	text-shadow:0px 2px 12px #ffffff;
	margin-top:0px;
	margin-left:80px;
	float:right;
	height:65px;

}
.myButton3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton3:active {
	position:relative;
	top:1px;
}


.myButton4 {
	-moz-box-shadow: 0px 1px 50px 11px #1c1b18;
	-webkit-box-shadow: 0px 1px 50px 11px #1c1b18;
	box-shadow: 0px 1px 50px 11px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:12px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 40px;
	text-decoration:none;
	text-shadow:0px 2px 12px #ffffff;
	margin-top:13px;
	margin-left:80px;
	float:left;
	width:114px;
	height:52px;
}
.myButton4:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton4:active {
	position:relative;
	top:1px;
}


.myButton5 {
	-moz-box-shadow: 0px 1px 50px 11px #1c1b18;
	-webkit-box-shadow: 0px 1px 50px 11px #1c1b18;
	box-shadow: 0px 1px 50px 11px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:12px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 40px;
	text-decoration:none;
	text-shadow:0px 2px 12px #ffffff;
	margin-right:257px;
	margin-top:-140px;
	float:right;
	height:52px;
}
.myButton5:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton5:active {
	position:relative;
	top:1px;
}

