body {
    background-image: url("Elegant_Background-8.jpg");
    background-repeat: repeat;
    background-position: center top;
    overflow: hidden;
}

#mainWrapper {
    float:left;
    border:1px red solid;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-100;
}

#gameSelectionBox1 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox2 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox3 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox4 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox5 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameBox {
    position:fixed;
    left: 30%;
    top: 0%;
}

#gameBox img {
    position: absolute;
    z-index: -1;
}


.slideshow {
    display:inline;
}

.slideshow img { 
    margin-top:85px;
    margin-left:80px;
    width:425px;
    height:320px;
}


/*****************************************************************************/
/* |------------------------------------------------------|-----------------|*/
/* |                                                      |  Category 1     |*/
/* |        GameBox                                       |                 |*/
/* |                                                      |-----------------|*/
/* |                                                      |  Category 2     |*/
/* |------------------------------------------------------|                 |*/
/* |---------------------------|--------------------------|-----------------|*/
/* |        Category 3         |     Category 4           |   Category 5    |*/
/* |---------------------------|--------------------------|-----------------|*/
/*****************************************************************************/


#category1 img {
    margin-top:70px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#category2 img {
    margin-top:230px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#category3 img {
    margin-top:390px;
    margin-left:80px;
    width:220px;
    height:150px;
}


#category4 img {
    margin-top:390px;
    margin-left:300px;
    width:205px;
    height:150px;
}

#category5 img {
    margin-top:390px;
    margin-left:505px;
    width:230px;
    height:150px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#333333; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#191919; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #007fff 5%, #0000bf 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #0000bf) );
	background:-moz-linear-gradient( center top, #007fff 5%, #0000bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#0000bf");	
	background: -o-linear-gradient(top,#007fff,0000bf);

	background-color:#007fff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #007fff 5%, #0000bf 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #0000bf) );
	background:-moz-linear-gradient( center top, #007fff 5%, #0000bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#0000bf");	
	background: -o-linear-gradient(top,#007fff,0000bf);
	background-color:#007fff;
}

.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

