body {
    background-image: url("Elegant_Background-8.jpg");
    background-repeat: repeat;
    background-position: center top;
}

#gameSelectionBox1 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox2 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox3 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox4 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameSelectionBox5 {
    float:left;
    border: 1px red solid;
    left: 0%;
    top: 0%;
    height:500px;
    width: 30%;
    visibility: hidden;
}

#gameBox {
    position:fixed;
    left: 30%;
    top: 0%;
}

#gameBox img {
    position: absolute;
    z-index: -1;
}


.slideshow {
    display:inline;
}

.slideshow img { 
    margin-top:85px;
    margin-left:80px;
    width:425px;
    height:320px;
}


/*****************************************************************************/
/* |------------------------------------------------------|-----------------|*/
/* |                                                      |  Category 1     |*/
/* |        GameBox                                       |                 |*/
/* |                                                      |-----------------|*/
/* |                                                      |  Category 2     |*/
/* |------------------------------------------------------|                 |*/
/* |---------------------------|--------------------------|-----------------|*/
/* |        Category 3         |     Category 4           |   Category 5    |*/
/* |---------------------------|--------------------------|-----------------|*/
/*****************************************************************************/


#category1 img {
    margin-top:70px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#category2 img {
    margin-top:230px;
    margin-left:505px;
    width:230px;
    height:160px;
}


#category3 img {
    margin-top:390px;
    margin-left:80px;
    width:220px;
    height:150px;
}


#category4 img {
    margin-top:390px;
    margin-left:300px;
    width:205px;
    height:150px;
}

#category5 img {
    margin-top:390px;
    margin-left:505px;
    width:230px;
    height:150px;
}

